In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import ListedColormap
%matplotlib inline
font = {
        'size'   : 22}
mpl.rc('font', **font)

mpl.rcParams['lines.markersize'] = 1

In [14]:
dfmasc = pd.read_csv("./bases/suicide/suicidioMasculino.csv")

In [5]:
dfreg = pd.read_csv("./bases/wdi/Country.csv")

In [6]:
df = pd.read_csv("./bases/education/EdStatsAjustado.csv")

In [17]:
dfregmerge = dfreg[['CountryCode','Region','IncomeGroup']].copy()
dfregmerge.rename(columns={'CountryCode':'countrycode','Region':'region','IncomeGroup':'incomegroup'},inplace=True)

In [26]:
dfx = df[df.IndicatorCode == 'NY.GDP.PCAP.PP.CD']
dfx = dfx[["CountryCode","Year","Value"]].reset_index(drop=True)
dfx.rename(columns={'CountryCode':'countrycode','Year':'year','Value':'value'},inplace=True)

In [27]:
dfx

     countrycode  year          value
0            ALB  2000    4026.537422
1            ATG  2000   14987.411027
2            ARG  2000   11810.061364
3            ARM  2000    2318.238073
4            ABW  2000            NaN
5            AUS  2000   26406.130951
6            AUT  2000   29357.485725
7            BHS  2000   20487.343180
8            BHR  2000   35622.601699
9            BRB  2000   12275.054497
10           BLR  2000    5994.557257
11           BEL  2000   27966.938804
12           BLZ  2000    5516.142414
13           BRA  2000    9012.764018
14           BGR  2000    6370.557933
15           CAN  2000   29185.355059
16           CHL  2000    9608.177136
17           COL  2000    6585.334138
18           CRI  2000    7829.812962
19           HRV  2000   10746.624255
20           CUB  2000            NaN
21           CYP  2000   21695.794534
22           CZE  2000   16178.353832
23           DNK  2000   28640.062433
24           ECU  2000    5855.634754
25           SLV  2000    5044.131388
26           EST  2000    9414.015351
27           FJI  2000    5289.881521
28           FIN  2000   26732.306072
29           FRA  2000   26192.653202
...          ...   ...            ...
1266         MEX  2015   17262.743059
1267         NLD  2015   50054.194363
1268         NZL  2015   37948.605901
1269         NOR  2015   62066.808188
1270         PAN  2015   22058.065923
1271         PRY  2015    9217.529076
1272         POL  2015   26856.834376
1273         PRT  2015   29738.188778
1274         PRI  2015            NaN
1275         QAT  2015  127764.462337
1276         RUS  2015   23702.844459
1277         SRB  2015   14111.938560
1278         SYC  2015   27233.383842
1279         SGP  2015   86306.308913
1280         SVK  2015   29987.194152
1281         SVN  2015   32185.612900
1282         ZAF  2015   13256.987075
1283         ESP  2015   34836.942239
1284         LCA  2015   12754.487036
1285         VCT  2015   11146.799310
1286         SUR  2015   15755.166272
1287         SWE  2015   48037.839831
1288         CHE  2015   63291.538276
1289         THA  2015   16256.525255
1290         TTO  2015   33377.313296
1291         TKM  2015   15995.784934
1292         UKR  2015    7948.142096
1293         GBR  2015   42124.651892
1294         USA  2015   56469.008969
1295         URY  2015   21158.798443

[1296 rows x 3 columns]

In [28]:
dfmasc = dfmasc.join(dfx.set_index(['countrycode','year']), on=['countrycode','year'])

In [29]:
dfmasc.rename(columns={'value':'gdp'}, inplace=True)

In [25]:
df2 = pd.merge(dfmasc, dfregmerge, on='countrycode')
df2.region.unique()
#df2 = df2.replace({'East Asia & Pacific':0,'Europe & Central Asia':1,
#       'Latin America & Caribbean':2, 'Middle East & North Africa':3,
#       'North America':4, 'Sub-Saharan Africa':5})
regioes = ['Europe & Central Asia', 'Latin America & Caribbean',
       'East Asia & Pacific', 'Middle East & North Africa',
       'Sub-Saharan Africa', 'North America', 'South Asia']
df2['idregion'] = df2['region'].apply(lambda x: regioes.index(x) )
df2['idregion'] = pd.to_numeric(df2['idregion'])

In [35]:
dfmasc

,country,year,suicidio514,suicidio1524,suicidio2534,suicidio3554,suicidio5574,suicidio75,countrycode,gdp
0,Albania,2000,0.266738,2.083333,7.327586,1.067521,5.636979,4.016064,ALB,4026.537422
1,Albania,2001,1.865927,3.905655,10.654579,8.975097,5.593126,3.221234,ALB,4463.632986
2,Albania,2002,0.313015,5.701969,11.149569,9.158971,6.561349,12.900313,ALB,4754.675856
3,Albania,2003,1.277123,5.489780,4.380990,7.250205,7.939659,3.061193,ALB,5114.784779
4,Albania,2004,0.330927,6.625565,7.845522,9.954897,4.826208,11.259359,ALB,5524.921661
5,Albania,2005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ALB,5942.870083
6,Albania,2006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ALB,6634.779222
7,Albania,2007,1.467906,4.508426,5.217573,7.659273,6.245539,18.883067,ALB,7289.632366
8,Albania,2008,2.667032,3.836736,12.148911,9.811227,9.183459,4.486921,ALB,8228.357428
9,Albania,2009,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ALB,8823.802984
10,Albania,2010,0.000000,3.577715,5.007790,5.381972,8.269520,3.939567,ALB,9646.615727
11,Albania,2011,0.000000,3.577715,5.007790,5.381972,8.269520,3.939567,ALB,10207.700674
12,Albania,2012,0.000000,3.577715,5.007790,5.381972,8.269520,3.939567,ALB,10526.248328
13,Albania,2013,0.000000,3.577715,5.007790,5.381972,8.269520,3.939567,ALB,10580.511504
14,Albania,2014,0.000000,3.577715,5.007790,5.381972,8.269520,3.939567,ALB,11332.506541
15,Albania,2015,0.000000,3.577715,5.007790,5.381972,8.269520,3.939567,ALB,11449.094589
16,Antigua and Barbuda,2000,0.000000,0.000000,0.000000,9.967109,30.003000,0.000000,ATG,14987.411027
17,Antigua and Barbuda,2001,0.000000,0.000000,0.000000,19.453361,0.000000,0.000000,ATG,14317.238516
18,Antigua and Barbuda,2002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,14480.079936
19,Antigua and Barbuda,2003,0.000000,0.000000,0.000000,0.000000,27.824151,0.000000,ATG,15479.221808
20,Antigua and Barbuda,2004,0.000000,0.000000,0.000000,8.767315,27.285130,0.000000,ATG,16633.544407
21,Antigua and Barbuda,2005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,18065.805027
22,Antigua and Barbuda,2006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,20747.375587
23,Antigua and Barbuda,2007,0.000000,0.000000,0.000000,7.980846,0.000000,0.000000,ATG,22996.705802
24,Antigua and Barbuda,2008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,23162.685755
25,Antigua and Barbuda,2009,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,20271.086351
26,Antigua and Barbuda,2010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,18824.073146
27,Antigua and Barbuda,2011,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,18605.316754
28,Antigua and Barbuda,2012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,19398.059477
29,Antigua and Barbuda,2013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATG,19480.102598
...,...,...,...,...,...,...,...,...,...,...
1282,United States,2002,0.947053,16.483145,20.467484,24.025501,23.191495,40.829169,USA,38166.037841
1283,United States,2003,0.924838,15.961212,20.551380,23.768701,22.692530,37.868622,USA,39677.198348
1284,United States,2004,0.896441,16.773653,20.367790,23.878144,22.245445,37.109161,USA,41921.809762
1285,United States,2005,0.986688,16.159164,19.910623,24.120240,22.413087,37.918184,USA,44307.920585
1286,United States,2006,0.741275,16.150183,19.708575,24.666255,22.729416,35.696860,USA,46437.067117
1287,United States,2007,0.634103,15.812433,20.851012,25.534938,23.640486,36.361967,USA,48061.537661
1288,United States,2008,0.730736,16.047160,21.357363,26.442667,25.518996,35.787175,USA,48401.427340
1289,United States,2009,0.827820,16.089952,21.246227,27.049631,25.693113,35.599823,USA,47001.555350
1290,United States,2010,0.881757,16.792006,22.758601,27.493954,26.337385,36.028986,USA,48373.878816
1291,United States,2011,0.948778,17.500231,23.489844,27.441914,26.515993,36.529393,USA,49790.665478
1292,United States,2012,1.066131,17.249970,23.706308,27.791280,27.251916,37.374367,USA,51450.122295
1293,United States,2013,1.186832,17.166887,23.673380,27.078089,27.774668,38.251739,USA,52787.026949
1294,United States,2014,1.302617,18.012999,23.997660,27.366102,28.592967,38.849533,USA,54598.550689
1295,United States,2015,1.198647,19.274755,24.858725,27.927402,28.105021,38.807334,USA,56469.008969
1296,Uruguay,2000,0.719300,23.208283,25.438496,35.836490,56.969927,95.835101,URY,10204.905236
1297,Uruguay,2001,1.076202,19.376016,18.449566,32.119294,48.112494,77.328967,URY,10018.564488
1298,Uruguay,2002,0.718556,29.719403,34.040009,39.815278,57.903880,115.047642,URY,9383.944472
1299,Uruguay,2003,0.361088,18.787060,25.948992,27.933544,53.102439,89.543616,URY,9654.336692
1300,Uruguay,2004,1.454535,22.117865,26.674218,30.945663,40.904268,95.234034,URY,10421.035727
1301,Uruguay,2005,0.366319,22.176373,27.118978,24.045423,45.177868,77.289527,URY,11553.515510
1302,Uruguay,2006,0.738945,22.142352,26.286174,23.880750,47.571246,80.674935,URY,12376.336597
1303,Uruguay,2007,2.236619,24.733817,27.217842,32.562352,45.791776,85.572938,URY,13501.602805
1304,Uruguay,2008,1.128426,22.139619,26.585802,32.963189,41.086437,69.696492,URY,14705.551742
1305,Uruguay,2009,0.000000,24.588243,33.088451,26.623538,39.079307,76.863951,URY,15391.196988
1306,Uruguay,2010,0.382752,26.277205,32.493016,24.863742,41.263922,87.161274,URY,16736.851032
1307,Uruguay,2011,0.578716,28.445294,31.572144,29.870618,41.891578,84.783865,URY,17904.745822
1308,Uruguay,2012,0.777838,30.595710,30.643383,34.783449,42.503453,82.465333,URY,18817.741957
1309,Uruguay,2013,1.174371,27.541558,32.851932,28.239258,33.220235,79.647025,URY,19942.504049
1310,Uruguay,2014,0.393785,29.436295,34.537307,35.608731,34.830558,69.516419,URY,20886.274795
1311,Uruguay,2015,1.188076,27.970759,40.747548,31.842401,47.864109,73.421439,URY,21158.798443

In [ ]:
fig, ax = plt.subplots(figsize=(20,10))
cmap = ListedColormap(['blue', 'green', 'blue','red','pink','yellow'])
test = df2.plot.scatter('gdp','suicidio2534',c='idregion', ax=ax, colormap=cmap) 

ax.set_xlim(0,100000)
ax.set_xlabel('PIB')
ax.set_ylabel('Suicídio homens 25-34 anos')
ax.set_title("Suicídios masculinos por PIB e região")

f = plt.gcf()
cax = f.get_axes()[1]
#and we can modify it, i.e.:
cax.set_ylabel('Região')